.container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding-top : 5em;
  padding-bottom: 5em;
}

.tile {
  background-color: #f1f1f1;
  width: 12em;
  margin: 1em;
  text-align: center;
  line-height: 8em;
  font-size: 30px;

}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}